/* POLICES */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('ttf'),
    url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('ttf');
}

/* BLOC PAGE */

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-right: 100px;
  margin-left: 100px;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

/* LIENS */

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {
  .App {
    margin-right: 5px;
    margin-left: 5px;
  }

  a {
    font-size: 12px;
  }
}
