.banner-container {
  display: inline-block;
  border-radius: 25px;
}

.banner-img {
  filter: brightness(60%);
  opacity: 0.8;
  border-radius: 25px;
  width: 1207px;
  height: 200px;
  object-fit: cover;
}

h2 {
  position: absolute;
  left: 365px;
  top: 170px;
  font-family: 'Montserrat';
  font-size: 48px;
  font-style: normal;
  color: #ffffff;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {
  .banner-img {
    width: 774px;
  }

  h2 {
    font-size: 35px;
    left: 231px;
    top: 152px;
  }
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {
  .banner-img {
    width: 335px;
    height: 111px;
    border-radius: 10px;
  }

  h2 {
    font-size: 24px;
    text-align: left;
    left: 28px;
    top: 103px;
    width: 215px;
  }
}
