.card-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 20px;
  transition: box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.card-container::after {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.26) 100%
  );
}

.card-container:hover {
  box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.26);
  transform: scale(1.05);
}

.card-img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}

h3 {
  z-index: 20;
  position: absolute;
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: left;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {
  .card-img {
    width: 260px;
    height: 200px;
  }
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {
    .card-img {
    width: 335px;
    height: 255px;
  }
}
