.footer-container {
  background-color: black;
  margin-bottom: 0px;
  margin-top: 40px;
  height: 185px;
}

.footer-logo {
  margin-top: 60px;
}

.footer-text {
  color: white;
  font-size: 14px;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {
}
