.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin-top: 45px;
  background: #f7f7f7;
  border-radius: 25px;
}

/* MEDIA QUERIES */

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 992px) {
}

/* Si l'écran est inférieur ou égal à */

@media screen and (max-width: 768px) {
    .gallery-container {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
  }
}